In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('data_processing').getOrCreate()

In [3]:
df = spark.read.csv('sample_data.csv', inferSchema=True, header=True)

In [4]:
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [5]:
len(df.columns)

5

In [6]:
df.count()

33

In [7]:
def shape(df):
    return (df.count(), len(df.columns))

In [8]:
shape(df)

(33, 5)

In [9]:
# View the columns in the dataframe as well as the datatypes.
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [10]:
# Preview the first 3 columns.
df.show(3)

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
+-------+---+----------+------+-------+
only showing top 3 rows

In [11]:
# View only selected columns.
df.select('age', 'mobile').show(3)

+---+-------+
|age| mobile|
+---+-------+
| 32|   Vivo|
| 27|  Apple|
| 22|Samsung|
+---+-------+
only showing top 3 rows

In [12]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

# Adding a new column

In [13]:
align_right = False
df.withColumn('age_after_10_years', (df['age'] + 10)).show(10, align_right)

+-------+---+----------+------+-------+------------------+
|ratings|age|experience|family|mobile |age_after_10_years|
+-------+---+----------+------+-------+------------------+
|3      |32 |9.0       |3     |Vivo   |42                |
|3      |27 |13.0      |3     |Apple  |37                |
|4      |22 |2.5       |0     |Samsung|32                |
|4      |37 |16.5      |4     |Apple  |47                |
|5      |27 |9.0       |1     |MI     |37                |
|4      |27 |9.0       |0     |Oppo   |37                |
|5      |37 |23.0      |5     |Vivo   |47                |
|5      |37 |23.0      |5     |Samsung|47                |
|3      |22 |2.5       |0     |Apple  |32                |
|3      |27 |6.0       |0     |MI     |37                |
+-------+---+----------+------+-------+------------------+
only showing top 10 rows

# Changing column datatype

In [1]:
from pyspark.sql.types import DoubleType

In [15]:
df.withColumn('age_double', df['age'].cast(DoubleType())).show(3, align_right)

+-------+---+----------+------+-------+----------+
|ratings|age|experience|family|mobile |age_double|
+-------+---+----------+------+-------+----------+
|3      |32 |9.0       |3     |Vivo   |32.0      |
|3      |27 |13.0      |3     |Apple  |27.0      |
|4      |22 |2.5       |0     |Samsung|22.0      |
+-------+---+----------+------+-------+----------+
only showing top 3 rows

# Filtering Data

In [16]:
df.filter(df['mobile'] == 'Vivo').show()

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      3| 32|       9.0|     3|  Vivo|
|      5| 37|      23.0|     5|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
|      5| 37|      13.0|     1|  Vivo|
|      4| 37|       6.0|     0|  Vivo|
+-------+---+----------+------+------+

In [17]:
df.filter(df['mobile'] == 'Vivo').select('age', 'ratings', 'mobile').show()

+---+-------+------+
|age|ratings|mobile|
+---+-------+------+
| 32|      3|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
| 37|      5|  Vivo|
| 37|      4|  Vivo|
+---+-------+------+

In [18]:
df.filter((df['mobile'] == 'Vivo') & (df['experience'] > 10)).show()

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      5| 37|      23.0|     5|  Vivo|
|      5| 37|      13.0|     1|  Vivo|
+-------+---+----------+------+------+

# Distinct values in column

In [19]:
df.select('mobile').distinct().show()

+-------+
| mobile|
+-------+
|     MI|
|   Oppo|
|Samsung|
|   Vivo|
|  Apple|
+-------+

In [20]:
# Counting distinct column values.
df.select('mobile').distinct().count()

5

# Grouping data

In [21]:
df.groupBy('mobile').count().show(5)

+-------+-----+
| mobile|count|
+-------+-----+
|     MI|    8|
|   Oppo|    7|
|Samsung|    6|
|   Vivo|    5|
|  Apple|    7|
+-------+-----+

In [22]:
# Refine the results by ordering them.
df.groupBy('mobile').count().orderBy('count', ascending=False).show(5)

+-------+-----+
| mobile|count|
+-------+-----+
|     MI|    8|
|   Oppo|    7|
|  Apple|    7|
|Samsung|    6|
|   Vivo|    5|
+-------+-----+

In [23]:
# Getting the mean of the group.
df.groupBy('mobile').mean().show(5, False)

+-------+------------------+------------------+------------------+------------------+
|mobile |avg(ratings)      |avg(age)          |avg(experience)   |avg(family)       |
+-------+------------------+------------------+------------------+------------------+
|MI     |3.5               |30.125            |10.1875           |1.375             |
|Oppo   |2.857142857142857 |28.428571428571427|10.357142857142858|1.4285714285714286|
|Samsung|4.166666666666667 |28.666666666666668|8.666666666666666 |1.8333333333333333|
|Vivo   |4.2               |36.0              |11.4              |1.8               |
|Apple  |3.4285714285714284|30.571428571428573|11.0              |2.7142857142857144|
+-------+------------------+------------------+------------------+------------------+

In [24]:
df.groupBy('mobile').sum().show(5, False)

+-------+------------+--------+---------------+-----------+
|mobile |sum(ratings)|sum(age)|sum(experience)|sum(family)|
+-------+------------+--------+---------------+-----------+
|MI     |28          |241     |81.5           |11         |
|Oppo   |20          |199     |72.5           |10         |
|Samsung|25          |172     |52.0           |11         |
|Vivo   |21          |180     |57.0           |9          |
|Apple  |24          |214     |77.0           |19         |
+-------+------------+--------+---------------+-----------+

In [25]:
df.groupBy('mobile').min().show(5, False)

+-------+------------+--------+---------------+-----------+
|mobile |min(ratings)|min(age)|min(experience)|min(family)|
+-------+------------+--------+---------------+-----------+
|MI     |1           |27      |2.5            |0          |
|Oppo   |2           |22      |6.0            |0          |
|Samsung|2           |22      |2.5            |0          |
|Vivo   |3           |32      |6.0            |0          |
|Apple  |3           |22      |2.5            |0          |
+-------+------------+--------+---------------+-----------+

In [26]:
df.groupBy('mobile').max().show(5, False)

+-------+------------+--------+---------------+-----------+
|mobile |max(ratings)|max(age)|max(experience)|max(family)|
+-------+------------+--------+---------------+-----------+
|MI     |5           |42      |23.0           |5          |
|Oppo   |4           |42      |23.0           |2          |
|Samsung|5           |37      |23.0           |5          |
|Vivo   |5           |37      |23.0           |5          |
|Apple  |4           |37      |16.5           |5          |
+-------+------------+--------+---------------+-----------+

# Aggregations

In [27]:
df.groupBy('mobile').agg({'experience': 'sum', 'ratings': 'mean'}).show(5)

+-------+------------------+---------------+
| mobile|      avg(ratings)|sum(experience)|
+-------+------------------+---------------+
|     MI|               3.5|           81.5|
|   Oppo| 2.857142857142857|           72.5|
|Samsung| 4.166666666666667|           52.0|
|   Vivo|               4.2|           57.0|
|  Apple|3.4285714285714284|           77.0|
+-------+------------------+---------------+

# User-Defined Functions (UDFs)

Two types of UDFs:
- conventional UDF
- Pandas UDF

In [28]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [29]:
def price_range(brand):
    if brand in ['Samsung', 'Apple']:
        return 'High Price'
    elif brand == 'MI':
        return 'Mid Price'
    else:
        return 'Low Price'

In [30]:
brand_udf = udf(price_range, StringType())

In [31]:
df.withColumn('price_range', brand_udf(df['mobile'])).show(5)

+-------+---+----------+------+-------+-----------+
|ratings|age|experience|family| mobile|price_range|
+-------+---+----------+------+-------+-----------+
|      3| 32|       9.0|     3|   Vivo|  Low Price|
|      3| 27|      13.0|     3|  Apple| High Price|
|      4| 22|       2.5|     0|Samsung| High Price|
|      4| 37|      16.5|     4|  Apple| High Price|
|      5| 27|       9.0|     1|     MI|  Mid Price|
+-------+---+----------+------+-------+-----------+
only showing top 5 rows

In [32]:
# Using lambda function.
age_udf = udf(lambda age: 'young' if age <= 30 else 'senior', StringType())
df.withColumn('age_group', age_udf(df['age'])).show(5)

+-------+---+----------+------+-------+---------+
|ratings|age|experience|family| mobile|age_group|
+-------+---+----------+------+-------+---------+
|      3| 32|       9.0|     3|   Vivo|   senior|
|      3| 27|      13.0|     3|  Apple|    young|
|      4| 22|       2.5|     0|Samsung|    young|
|      4| 37|      16.5|     4|  Apple|   senior|
|      5| 27|       9.0|     1|     MI|    young|
+-------+---+----------+------+-------+---------+
only showing top 5 rows

In [33]:
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import IntegerType

In [34]:
def remaining_years(age):
    yrs_left = 100 - age
    return yrs_left

## NOTE: Issue with latest PyArrow

Install pyarrow:

```
$ pip3 install pyarrow
```

Set the following in `$SPARK_HOME/conf/spark-env.sh`:

```
#!/usr/bin/env bash

ARROW_PRE_0_15_IPC_FORMAT=1
```

In [35]:
length_udf = pandas_udf(remaining_years, IntegerType())

In [37]:
df.withColumn('yrs_left', length_udf(df['age'])).show(5)

+-------+---+----------+------+-------+--------+
|ratings|age|experience|family| mobile|yrs_left|
+-------+---+----------+------+-------+--------+
|      3| 32|       9.0|     3|   Vivo|      68|
|      3| 27|      13.0|     3|  Apple|      73|
|      4| 22|       2.5|     0|Samsung|      78|
|      4| 37|      16.5|     4|  Apple|      63|
|      5| 27|       9.0|     1|     MI|      73|
+-------+---+----------+------+-------+--------+
only showing top 5 rows

# Pandas UDF (Multiple Columns)

In [39]:
def prod(rating, exp):
    x = rating * exp
    return x

In [40]:
from pyspark.sql.types import DoubleType

prod_udf = pandas_udf(prod, DoubleType())

In [47]:
df.withColumn('product', prod_udf(df['ratings'], df['experience'])).show(5)

+-------+---+----------+------+-------+-------+
|ratings|age|experience|family| mobile|product|
+-------+---+----------+------+-------+-------+
|      3| 32|       9.0|     3|   Vivo|   27.0|
|      3| 27|      13.0|     3|  Apple|   39.0|
|      4| 22|       2.5|     0|Samsung|   10.0|
|      4| 37|      16.5|     4|  Apple|   66.0|
|      5| 27|       9.0|     1|     MI|   45.0|
+-------+---+----------+------+-------+-------+
only showing top 5 rows

# Dropping Duplicates

In [44]:
df.count()

33

In [46]:
df.dropDuplicates().count()

26

# Delete Columns

In [55]:
df.drop('mobile').show(5)

+-------+---+----------+------+
|ratings|age|experience|family|
+-------+---+----------+------+
|      3| 32|       9.0|     3|
|      3| 27|      13.0|     3|
|      4| 22|       2.5|     0|
|      4| 37|      16.5|     4|
|      5| 27|       9.0|     1|
+-------+---+----------+------+
only showing top 5 rows

# Writing CSV

In [54]:
df.coalesce(1).write.format('csv').option('header', 'true').save('./df_csv')

# Writing Parquet

In [56]:
df.write.format('parquet').save('./df_parquet')